/* Table heading section */
.table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 2px solid #ddd;
  }
  
  .heading-2 h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  /* Filters section */
  .filters {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .filter-dropdown {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .filter-dropdown:hover {
    border-color: #092448;
  }
  
  .search-btn {
    /* padding: 10px 15px; */
    font-size: 16px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    background-color: #092448;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap:10px;
  }
  
  .search-btn:hover {
    background-color: #002F6C;
  }
  
  .search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    transition: width 0.3s ease;
  }
  
  .search-input:focus {
    width: 300px;
    border-color: #092448;
  }
  
  /* Add User button */
  .add-button {
    text-decoration: none;
  }
  
  .add-user-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-user-btn:hover {
    background-color: #218838;
  }
  /* css for button */
/* Active Button */
.btn-active {
    background: #218838;
    color: white;
    border: none;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-active:hover {
    /* background: linear-gradient(135deg, #218838, #1e7e34); */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Inactive Button */
  .btn-inactive {
    
    background-color:  #f60606 ;
    color: white;
    border: none;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }